.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 0 auto; 
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  position: relative;
  margin: 20px 0;
  margin-top: 0;

}

.bingo-board-item {
  display: flex;

  height: 100px;

  background: #F4F6FA;
  border-radius: 16px;
  padding: 10px;
}
.bingo-board-item-success {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100px;

  background:#40C887;
  border-radius: 16px;
  padding: 10px;
}

.bingo-checklist {
  display: grid;
  gap: 16px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px 10px;
}

.bingo-checklist-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: rgb(65, 65, 65);
  width: 15px;
  height: 15px;
  border: 1px solid rgb(65, 65, 65);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

input[type="checkbox"]:checked {
  background-color: #40C887;
}

