.navigation-list {
    display: flex;
    min-width: 500px;
    margin-left: 130px;
    margin-block: 0;
    line-height: 108px;

    list-style-type: none;
    padding: 0;
}

.list-item {
    cursor: pointer;
    color: #657286;
    font-weight: 600;
    font-size: 14px;
    margin-right: 32px;
}

.active {
    border-bottom: 2px solid #40C887;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 76px;

    border-bottom: 1px solid #C9D0DB;
}

.header-left-section {
    display: flex;
}

.header img {
    cursor: pointer;
}

.eletive-logo {
    margin-top: 32px;
    height: 32px;
}

.current-user-logo {
    height: 22px;
    margin-top: 40px;
}